/* Home Page Mobile Styles */

aside, #milkingCountdown {
    display: none;
}

/* About Page Mobile Styles */

.about {
    text-align: center;
}

#billBio, #jasonBio {
    flex-direction: column;
    padding: 10px 10px;
}

.owners img {
    width: 80%;
    padding: 10px 0;
}

#billBio .bioText, #jasonBio .bioText {
    margin: 0;
}

/* Cows Page Mobile Styles */

.cows{
    margin: auto;
}

.cowInfo {
    margin: auto;
}

.cowInfo p {
    font-size: 1rem;
    margin: 10px 0;
  }

.characteristics {
    margin: auto;
}

img {
    display: none;
}

.holsteinLove {
    margin: 20px;
    padding: 20px;
  }

/* Footer Mobile Styles */

footer {
    margin: auto;
    width: 100%;
}
