/* Home Page Mobile Styles */

aside, #milkingCountdown {
    display: none;
}

/* About Page Mobile Styles */

.about {
    text-align: center;
}

#billBio, #jasonBio {
    flex-direction: column;
    padding: 10px 10px;
}

.owners img {
    width: 80%;
    padding: 10px 0;
}

#billBio .bioText, #jasonBio .bioText {
    margin: 0;
}

/* Cows Page Mobile Styles */

.cows, .cowInfo, .characteristics {
    margin: auto;
}

.cowInfo p {
    font-size: 1rem;
    margin: 10px 0;
  }

img {
    display: none;
}

.holsteinLove {
    margin: 20px;
    padding: 20px;
  }

/* Footer Mobile Styles */

footer {
    width: 100%;
}


/* Dropdown menu styles */

/* Hamburger icon */
#menuToggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    margin: 15px;
}


#menuToggle span {
    display: block;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}

/* Dropdown */
#dropdownMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    display: none; /* Hidden by default */
}

#dropdownMenu li {
    border-bottom: 1px solid #333;
}

#dropdownMenu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

#dropdownMenu li a:hover {
    background-color: #ff69b4;
    color: white;
}

/* Show Dropdown on Toggle */
#dropdownMenu.show {
    display: block;
}