/* Home Page Mobile Styles */

aside {
    display: none;
}

/* About Page Mobile Styles */

.about {
    text-align: center;
}

#billBio, #jasonBio {
    flex-direction: column;
    padding: 10px 10px;
}

.owners img {
    width: 80%;
    padding: 10px 0;
}

#billBio .bioText, #jasonBio .bioText {
    margin: 0;
}

/* Cows Page Mobile Styles */

.cows{
    margin: auto;
}

.characteristics {
    margin: auto;
}

img {
    display: none;
}

/* Footer Mobile Styles */

footer {
    margin: auto;
    width: 100%;
}