@charset "utf-8";
 
/* reset all styles */

address, article, aside, blockquote, body,
cite, div, dl, dt, dd, em, figcaption, figure,
footer, h1, h2, h3, h4, h5, h6, header, html, img,
li, main, nav, ol, p,section, span, ul {
   background: transparent;
   font-size: 100%;
   margin: 0;
   padding: 0;
   vertical-align: baseline;
   box-sizing: border-box;
}

/* HTML styles */

html {
   font-family: Verdana, Geneva, Arial, sans-serif;
    background-color: #E0FFF0;
    margin: 0;
}



/* Header styles */

body > header {
   position: relative;
}

 body > header > img {
   display: block;
   width: 100%;
   max-height: 600px;
   height: auto;
   object-fit: cover;
 }

#milkingCountdown {
   color: darkgrey;
   background-color: #F5F5DC;
   border: thin solid black;
   text-align: center;
   font-size: 1.5rem;
   font-weight: bolder;
   padding: 20px 100px;
   margin: 20px 100px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


 /* Horizontal Navigation Styles */
 
 nav.horizontalNav {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   list-style: none;
   padding: 0 0 20px;
}

 nav.horizontalNav li {
   flex: 1;
 }

 nav.horizontalNav a {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0;
   height: 100%;
   width: 100%;
   text-decoration: none;
   color: black;
   box-sizing: border-box;
 }

 nav.horizontalNav a:hover {
   background-color: #E6E6FA;
   color: black;
 }

 nav.horizontalNav ul {
   display: flex;
   justify-content: center;
   text-align: center;
   width: 100%;
   padding: 0;
   margin: 0;
   list-style: none;
}

 nav ul li a {
   font-weight: bolder;
 }


 /* All Page Body Styles  */

 body {
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   margin: 0 auto;
   width: 100%;
   min-height: 100vh;
}

 /* Home Page Body Styles  */
 
 .content {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex: 1;
   width: 80%;
   margin: 30px auto;
}
 article.leftText {
   flex: 2;
   margin: 40px 0;
   padding: 1.5em;
   line-height: 2;
   align-self: center;
 }


 aside {
   flex: 1;
   display: flex;
   align-items: center;
}

aside img#calf {
   width: 70%;
   margin: auto;
   border: thin solid black;
   box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);
 }


 /* About Page Body Styles  */

.about {
   display: flex;
   flex-direction: column;
   flex: 1;
   width: 80%;
   margin: 30px auto;
}

.about h1 {
   color: #403831;
}

.about p {
   line-height: 2;
   margin-bottom: 20px;
}

.aboutHead {
   width: 100%;
   margin: 0;
   padding: 15px 0;
   text-align: center;
   font-size: 2.5em;
   color: #403831;
}


.history {
   background-color: beige;
   padding: 20px;
}

 /* Bio Styles */

#ownersHeader {
   margin: 100px auto 0;
   font-size: 2.5em;
}

.owners {
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: auto;
   gap: 60px;
}

.bioText {
   display: flex;
   flex-direction: column;
}

.owners h1 {
   font-size: 2em;
}

.owners img {
   width: 30%;
   padding: 20px;
}

.owners p {
   margin-top: 10px;
}

#billBio, #jasonBio {
   display: flex;
   flex-direction: row;
   background-color: beige;
   align-items: center;
}

 /* Bill Bio Styles */

#billBio .bioText {
   align-items: center;
   margin-right: 20px;
}

/* Jason Bio Styles */

#jasonBio .bioText {
   align-items: center;
   margin-left: 20px;
}



/* Farm Life Body Styles */

.farmLife {
   display: flex;
   flex-direction: column;
   background-color: beige;
   padding: 20px;
   margin: 100px auto 50px; 
   text-align: center;
}

.farmLife h1 {
   font-size: 2em;
}

.farmLife p {
   margin: 10px 20px;
}


/* Our Cows Page Styles */


.holstein {
   display: flex;
   flex-direction: column;
}

.cowInfo {
   display: flex;
   align-items: center;
   margin: 50px 200px;
}

.holstein > .cowInfo > p {
   flex: 2;
   margin: 20px 50px;
   justify-content: center;
   text-align: center;
   align-items: center;
   font-size: 1.2em;
}

#holsteinPic {
   flex: 1;
   width: 200px;
   border: thin solid black;
   box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.cows {
   display: flex;
   flex-direction: column;
   line-height: 2;
   background-color: beige;
   padding-top: 30px;
   margin-bottom: 100px;
}

.cowsHead {
   font-size: 3em;
   text-align: center;
}

/* Our Cows Page Characteristics Section */

.characteristics {
   display: flex;
   flex-direction: column;
   background-color: #FAF9F6;
   border: thick solid black;
   margin: 0 300px;
   align-items: center;
}

#characteristicsHead {
   font-size: 2em;
   padding-top: 20px;
   text-align: center;
   border-bottom: thick double black;
   width: 100%;
}

#charList {
   display: flex;
   flex-direction: column;
   list-style: none;
}

#charList li {
   border-bottom: thick double black;
   padding: 20px;
   width: 100%;
}

#charList li:last-of-type {
   border-bottom: none
}

#charList li strong {
   font-size: 1.2em;
}

.characteristics > img {
   border: thin solid black;
   width: 55%;
   align-self: flex-end;
   margin: 0 40px 40px 0;
}

/* Our Cows Page Bottom Section */

.holsteinLove {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin: 50px 200px;
   padding: 50px;
   background-color: #FAF9F6;
   border: thick solid black;
}

.holsteinLove > h1 {
   font-size: 2em;
}

.holsteinLove > p {
   font-size: 1.2em  ;
}


/* Contact Page Styles */
form#contact {
   display: flex;
   flex-flow: row wrap;
}

form#contact > fieldset {
   background-color: rgb(241, 232, 181);
   border-radius: 20px;
   display: flex;
   flex-flow: row wrap;
   flex: 1 1 300px;
   font-size: 0.85em;
   padding: 10px;
   margin: 10px;
}

div.formRow {
   display: flex;
   flex-flow: row wrap;
   flex: 1;
}

/* Footer Navigation Styles */

 nav.footerNav {
   display: flex;
   width: 100%;
}

nav.footerNav ul {
   display: flex;
   width: 100%;
   list-style: none;
}

footer h1 {
   border-top: thin solid black;
    text-align: center;
    font-size: larger;
    padding: 20px;
 }

 nav.footerNav li {
   flex: 1;
}

 nav.footerNav a {
   display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-color: #F5F5DC;
    text-decoration: none;
    color: black;
    border: 2px solid #333; 
    box-sizing: border-box;
 }
 

 .footerNav a img {
    width: 16px;
    height: auto;
    margin-right: 5px;
 }

 body footer address {
   color: white;
   background-color: #333;
   text-align: center;
}

 nav.footerNav a:hover {
   background-color: #FF69B4;
   color: white;
}